<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>


    <nav>
      <a href="/">
      <span>svgdevs.com</span>
      </a>

      <ul>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>




    <section id="hero">
      <div class="wrapper">
        <h1>Free SVG Images for Devs</h1>
        <p>SVG illustrations free for commercial and personal use under the CC0 license (MIT license) — No attribution required.</p>

        <a href="/"><button>DOWNLOAD</button></a>

      </div>
    </section>



    <section id="images">
      <div class="wrapper images">

        <div class="image"><img src="/browser.webp" alt=""></div>
        <div class="image"><img src="/browser.webp" alt=""></div>
        <div class="image"><img src="/browser.webp" alt=""></div>

      </div>
    </section>


  <footer>

    <ul>
      <a href="/about"><li>about</li></a>
      <a href="/license"><li>license</li></a>
    </ul>
  </footer>



  </body>
</html>
