<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>




    {% include nav.html %}

    <section id="hero">
      <div class="wrapper">
        <h1>Free SVG Images for Devs</h1>
        <p>SVG images completely free for commercial and personal use under the MIT license.</p>
        <p>Simply click & download - no email, no attribution required.</p>
        <p>New illustrations every week.</p>

        <a href="https://ko-fi.com/svgdevs" target="_blank">
        <button>
          Buy me a coffee ☕️
        </button>
      </a>
  

      </div>
    </section>



    <section id="images">
      <div class="wrapper images">

   

        <div class="image"><img src="/desk_coder.svg" alt="desk coder image svg" width="200px">
          <a href="/desk_coder_1.zip" download><button>download</button></a>
        </div>        

        <div class="image"><img src="/builder3.svg" alt="browser icons">
          <a href="https://bit.ly/3LvpzVx" download><button>download</button></a>
        </div>

        <div class="image"><img src="/browser.svg" alt="browser icons">
          <a href="https://bit.ly/3HCzF4S" download><button>download</button></a>
        </div>

        <div class="image"><img src="/programming-illustrations.svg" alt="programming illustration">
          <a href="https://bit.ly/3GruByM" download><button>download</button></a>
        </div>

        <div class="image"><img src="/wordpress-girl.png" alt="wordpress girl illustration">
          <a href="https://bit.ly/3GsDF6l" download><button>download</button></a>
        </div>

        <div class="image"><img src="/wordpress-icons.svg" alt="">
          <a href="https://bit.ly/3J9o6SZ" download><button>download</button></a>
        </div>

        <div class="image"><img src="/website-builder.png" alt="website builder">
          <a href="https://bit.ly/3uEPMee" download><button>download</button></a>
        </div>

        <div class="image"><img src="/coder.svg" alt="coder illustration builder">
          <a href="https://bit.ly/3uxIrgv" download><button>download</button></a>
        </div>
´

      </div>
    </section>




    {% include footer.html %}



  </body>
</html>
